@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
	font-family: 'Permanent Marker';
	background: url('images/background.png');
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/*
=================================
STYLING FOR HEADER
=================================
*/
header{
	background: black;
	background: url('images/header.png');
	border-bottom: 7px solid #CDCBD5;
	top:0;	
	width: 100%;
	height: 200px;
	#position: fixed;
	margin-bottom: 10px;
}

.logout {
  	left: 3%;
  	top: 4%;
  	position: absolute;
  	background: none;
  	color: white;
}

.logout_icon {
	position: absolute;
	width: 100px;
	fill: #CDCBD5;
	top:2%;
	left: 1%;
	transition: 0.5s;
}


.logout_icon:hover {
	fill: white;
}

.logout:hover {
	color: white;
}

.title {
	text-align: center;
	color: #4D4648; 
	position: relative;
	top: 20%;
	font-size: 5em;
}

#add_item_btn {
	position: absolute;
	background: #CDCBD5;
	border-radius: 50%;
	top: 6%;
	right: 3%;
	transition: 0.5s;
}

#add_item_btn:hover {
	background: white;
}
/*
=================================
STYLING FOR HEADER
=================================
*/
ul{
	list-style: none;
	font-size: 30px;
	text-transform: uppercase;
}
ul li{
	font-size: 20px;
}



/*
=================================
STYLING FOR HEADER
=================================
*/
input{
	border: none;
}


/*
=================================
STYLING FOR MODAL
=================================
*/
.close {
	width: 50px;
	color: white;
  	font-size: 39px;
}
.modal-dialog{
	#background: gray;
	background: url('images/header.png');
	height: 80%;
	border-radius: 10px;
}

input {
	background: rgba(58,49,55, 0.6);
	width: 100%;
  	height: 50px;
  	border-radius: 5px;
  	font-size: 20px;
  	color: white;
  	text-indent: 13px;
}

input:focus, input:active {
	outline: none !important;
}
h4, label {
	color:white;
}
/*user name & pssword box*/
.main_body {
  top: 35%;
  left: 17%;
  position: absolute;
}

#title_info::-webkit-input-placeholder {
    color: white;
}
#details_info::-webkit-input-placeholder {
    color: white;
}
#due_date::-webkit-input-placeholder {
    color: white;
}

button.close {
  -webkit-appearance: none;
  padding: 7px;
}

button:focus, button:active {
	outline: none !important;
}

#submit_info {
	width: 200px;
	height: 50px;
	font-size: 20px;
	background: #BF4D28;/*add*/
	border: none;
	transition: 0.5s;
}

#submit_info:hover {
	background: #C55F3D;/*add*/
}

#year, #month, #day {
  width: 89px;
  height: 40px;
  font-size: 15px;
  background: gray;
  border: none;
  display: inline-block;
  margin: 18px;

}

#hour, #minute, #daylight {	
  width: 89px;
  height: 40px;
  font-size: 15px;
  background: white;
  opacity: 0.5;
  border: none;
  display: inline-block;
  margin: 18px;	
}

/*
=================================
STYLING FOR FORM
=================================
*/
.form_container {
	width: 600px;
	height: 300px;
	border-radius: 10px;
	background: url('images/header1.png');
	margin-top: 50px;
	border-top: 10px solid #191919;
	border-bottom: 10px solid #191919;
}

.form-control {
	width: 400px;
	height: 50px;
	margin-left: 90px;
}

.btn-success {
	font-size: 20px;
	color: #8A371D !important;
	width: 150px;
	height: 50px;
	margin-left: 90px;
	background: none !important;
	#background: #8A371D !important;/*add*/
	border: 4px solid #8A371D !important;
	transition: 2s;
	display: inline;
}

.btn-success:hover {
	color: #BF4D28 !important;
	#background: #BF4D28 !important;
	background: none;
	border: 4px inset #BF4D28 !important;
}

.btn-success:before {
	color: #BF4D28 !important;
	#background: #BF4D28 !important;
	background: none;
	border: 4px inset #BF4D28 !important;
}

.btn-info{
	font-size: 20px;
	background-color: #FFFFFF;
	width: 180px;
	height: 50px;
	margin-left: 5px;
	#background: #789048 !important;/*add*/
	background: none !important;
	border: 4px solid #789048 !important;
	transition: 2s;
	display: inline;
	color: #789048 !important;  
}
.btn-info:hover {
	color: #C0D860 !important;
	#background: #C0D860 !important;
	background: none;
	border: 4px outset #C0D860 !important; 
}

#username, #password {
	border-radius: 10px;
	border: none;
	letter-spacing: 4px;
	background: url('images/header1.png');
	color: #BF4D28;
	font-size: 18px;
	   -moz-box-shadow:    inset 0 0 7px #191919;
   -webkit-box-shadow: inset 0 0 7px #191919;
   box-shadow:         inset 0 0 7px #191919;
}

#password {
	color: #BF4D28;
}

.btn-warning {
	width: 15%;
	margin-left: 10px;
	height: 42px;
}

/*
=================================
STYLING FOR LIST
=================================
*/
.titled {
  color: #BF4D28;
  letter-spacing: 5px;
}

.details {
  color: rgb(68, 68, 68);
}

.timestamp {
  color: gray;
  font-size: 15px;
}

.btn-danger {
	font-size: 20px;
}

ol, ul {
  margin-top: 3px;
  margin-bottom: 58px;
}

.fa-pencil-square-o {
	font-size: 18px;
}
/*
=================================
STYLING FOR ADD USER PAGE
=================================
*/
.sign_up {
  color: white;
  letter-spacing: 5px;
  font-size: 42px;
  margin-left: 90px;
}

#account_email {
  width: 80%;
  background: url('images/bue.png');
  border: none;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  		   -moz-box-shadow:    inset 0 0 7px #23282d;
   -webkit-box-shadow: inset 0 0 7px #23282d;
   box-shadow:         inset 0 0 7px #23282d;
}

#account_firstname, #account_lastname {
  width: 39.7%;
  margin-left: 0;
  top: 7px;
  left: 90px;
  position: relative;
  display: inline-block;
  background: url('images/bue.png');
  border: none;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;

}

#password_confirmation {
	background: url('images/header1.png');
	border: none;
	font-size: 18px;
	color: #BF4D28;
	letter-spacing: 4px;
		   -moz-box-shadow:    inset 0 0 7px #191919;
   -webkit-box-shadow: inset 0 0 7px #191919;
   box-shadow:         inset 0 0 7px #191919;


}

.container {
	background: url('images/header1.png');
	border-top: 8px solid black;
	margin-bottom: 0;
  	position: absolute;
  	left: -135px;
}

.line {
	background: black;
	height: 3px;
	width: 99%;
	margin: 15px;
}
