@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);


body{
	font-family: 'Special Elite';
	background: url('images/background.png');
}
/*
=================================
STYLING FOR HEADER
=================================
*/
header{
	background: black;
	/*#background: url('images/header.png');*/
	border-bottom: 7px solid #CDCBD5;
	top:0;	
	width: 100%;
	height: 30vh;
	position: absolute;
}

.logout {
  	left: 3%;
  	top: 4%;
  	position: absolute;
  	background: none;
  	color: white;
}

.logout_icon {
	position: absolute;
	width: 100px;
	fill: #CDCBD5;
	top:2%;
	left: 1%;
	transition: 0.5s;
}


.logout_icon:hover {
	fill: white;
}

.logout:hover {
	color: white;
}

.title {
	text-align: center;
	color: white; 
	position: relative;
	top: 20%;
	font-size: 5em;
}

#add_item_btn {
	position: absolute;
	background: #CDCBD5;
	border-radius: 50%;
	top: 13%;
	right: 3%;
	transition: 0.5s;
}

#add_item_btn:hover {
	background: white;
}
/*
=================================
STYLING FOR HEADER
=================================
*/
ul{
	list-style: none;
	font-size: 30px;
	text-transform: uppercase;
}
ul li{
	font-size: 20px;
}

/*
=================================
STYLING FOR HEADER
=================================
*/
input{
	border: none;
}


/*
=================================
STYLING FOR MODAL
=================================
*/
.close {
	width: 50px;
	color: white;
  	font-size: 39px;
}
.modal-dialog{
	background: gray;
	/*background: url('images/header.png');*/
	height: 80%;
	border-radius: 10px;
}

input {
	background: rgba(58,49,55, 0.6);
	width: 100%;
  	height: 10vh;
  	border-radius: 5px;
  	font-size: 20px;
  	color: white;
}

input:focus, input:active {
	outline: none !important;
}
h4, label {
	color:white;
}

.main_body {
	top:40%;
	position: absolute;
}

#title_info::-webkit-input-placeholder {
    color: white;
}
#details_info::-webkit-input-placeholder {
    color: white;
}
#due_date::-webkit-input-placeholder {
    color: white;
}

button.close {
  -webkit-appearance: none;
  padding: 7px;
}

button:focus, button:active {
	outline: none !important;
}

#submit_info {
	width: 200px;
	height: 10vh;
	font-size: 20px;
	#background: #C77D71;/*add*/
	border: none;
	transition: 0.5s;
}

#submit_info:hover {
	#background: #E69F81;/*add*/
}

#year, #month, #day {
  width: 89px;
  height: 40px;
  font-size: 15px;
  #background: gray;
  border: none;
  display: inline-block;
  margin: 18px;

}

#hour, #minute, #daylight {	
  width: 89px;
  height: 40px;
  font-size: 15px;
  background: white;
  opacity: 0.5;
  border: none;
  display: inline-block;
  margin: 18px;	
}

/*
=================================
STYLING FOR FORM
=================================
*/
.form_container {
	width: 600px;
	height: 50vh;
	border-radius: 10px;
	/*background: url('images/header1.png');*/
	margin-top: 50px;
	border-top: 10px solid #191919;
	border-bottom: 10px solid #191919;
}

.form-control {
	width: 400px;
	height: 50px;
	margin-left: 90px;
}

.btn-success {
	color: #333;
	width: 150px;
	height: 50px;
	margin-left: 90px;
	#background: #C77D71;/*add*/
	border:none;
	transition: 0.5s;
	display: inline;
}
.btn-info{
	background-color: #FFFFFF;
	width: 150px;
	height: 50px;
	margin-left: 5px;
	#background: #C77D71;/*add*/
	border:none;
	transition: 0.5s;
	display: inline;
	color: black;  
}
.btn-success:hover {
	color: #333;
	#background: #E69F81;
}
#username, #password {
	border-radius: 10px;
	border: none;
	/*background: url('images/header1.png');*/
	color: black;
	font-size: 18px;
	   -moz-box-shadow:    inset 0 0 7px #191919;
   -webkit-box-shadow: inset 0 0 7px #191919;
   box-shadow:         inset 0 0 7px #191919;
}

/*
=================================
STYLING FOR LIST
=================================
*/
.titled {
	color: red;
}

.details {
	color: black;
}

.timestamp {
	color: gray;
}

/*
=================================
STYLING FOR ADD USER PAGE
=================================
*/
#account_email {
	width: 80%;
}

#account_firstname, #account_lastname {
	width: 40%;
	display: inline-block;
}

